<link rel="stylesheet" href="/css/admin_panel/_user_box.css">
<div class="box">

    <div class="inner_box">

        <div class="info">
            <span class="heading">Email</span> : <%=user.email%>
        </div>

        <div class="info">
            <span class="heading">Phone No</span> : <%=user.phone%>
        </div>
        <div class="info">
            <span class="heading">Birth Date</span> : <%=user.bday_day%>/<%=user.bday_month%>/<%=user.bday_year%>
        </div>
    </div>
    <div class="inner_box">

        <div class="info">
            <span class="heading">No. of Likes</span> : <%=user.likes.length%>
        </div>

        <div class="info">
            <span class="heading">No. of Shares</span> : <%=user.shared.length%>
        </div>
 
    </div>
    <div class="inner_box2">
        <div class="profile-info">
            <%let avatar = '/images/Profile.png'%>
        <%if(user.avatar){%>
            <%avatar = 'http://16.171.251.116:8000'+ user.avatar%>
            <%}%>
        <img src="<%=avatar%>" alt="Profile">
        <div class="profile-link">
     
        <div class="user-name"><%=user.name%></div>
        <a class="link" href="/v1/author/manage-admin/user-controller/<%=user._id%>">Profile Section</a>
    </div>
     
</div>
     
    </div>

</div>