<link rel="stylesheet" href="/css/admin_panel/upload.css">
<link rel="stylesheet" href="/css/admin_panel/upload_video.css">



<%- include('_navbar.ejs') %>

    <div class="uploads">

        <h1>Add Video Category</h1>

        <div class="maincategory">
        <form action="/v1/author/action/create-video-category" method="post">
            <select id="languag" name="lang" class="dropdown uppercase" size="1">
                <option value="hindi">Hindi</option>
                <option value="english">English</option>
                <option value="marathi">Marathi</option>
                <option value="wallpaper">Wallpaper</option>
            </select>
            <input type="text" id="customCategorys" name="category" placeholder="Enter Custom Category">
            <input type="checkbox" name="special" id="toggleRadioBtn" >Special
            <button class="addCategoryBtn" type="submit">Add Category</button>
            <!-- Manage category Btn -->
        </form>

        <br>

        <a href="/v1/author/action/manage-videos" class="addCategoryBtn">Manage Videos</button></a>
        
        </div>

        <form id="mngCat" action="" method="Post" class="mngCat">
            
            
                <% for(let el of categories){%>
                    <div class="category-list addCategoryBtn">
                        <div class="category"><%=el.type%></div>
                        <div class="close-button" onclick="deleteCategory('<%=el._id%>')">X</div>
                    </div>
                 <%}%>
             </ul>
        </form>
        <h2>UPLOAD VIdeos</h2>
        <form id="fileInput" action="/v1/author/action/upload-videos" method="POST" enctype="multipart/form-data"
            class="froms">
            
            <label for="category" class="selcat">Select Language:</label>
            <select id="language" name="lang" class="dropdown uppercase" size="1">
                <option value="hindi">Hindi</option>
                <option value="english">English</option>
                <option value="marathi">Marathi</option>
                <option value="wallpaper">Wallpaper</option>
            </select>
            <label for="category" class="selcat">Select Category:</label>
            <select id="category" name="category" size="1" class="uppercase">
                <%for(let el of categories){%>
                    <option value = "<%=el.type%>" class="uppercase"> <%=el.type%> </option>
                <%}%>
                
                <!-- Add more categories as needed -->
            </select>
            <label for="language" class="select"</label>
            
            <input type="file" name="videos" id="videos" accept="video/*" multiple>
            <button type="submit">Upload</button>

        </form>
        <div class="video-container" id="videoContainer"></div>
    </div>



    <script>
        // Display selected videos
        document.getElementById('videos').addEventListener('change', function () {
          displaySelectedVideos(this.files);
        });
    
        function displaySelectedVideos(files) {
          const videoContainer = document.getElementById('videoContainer');
          videoContainer.innerHTML = '';
    
          for (const file of files) {
            const videoItem = document.createElement('div');
            videoItem.classList.add('video-item');
    
            const video = document.createElement('video');
            video.setAttribute('controls', 'controls');
            video.setAttribute('preload', 'metadata');
    
            const source = document.createElement('source');
            source.src = URL.createObjectURL(file);
            source.type = file.type;
    
            video.appendChild(source);
            videoItem.appendChild(video);
            videoContainer.appendChild(videoItem);
          }
        }
      </script>

    <script src="/script/upload.js"></script>
