<link rel="stylesheet" href="/css/admin_panel/upload.css">



<%- include('_navbar.ejs') %>

    <div class="uploads">

        <h1>Upload Image</h1>

        <div class="maincategory">
        <form action="/v1/author/action/create-category" method="post">
            <input type="text" id="customCategorys" name="category" placeholder="Enter Custom Category">
            <button class="addCategoryBtn" type="submit">Add Category</button>
        </form>
            <!-- Manage category Btn -->
            <button id="deleteCategoryBtn" class="addCategoryBtn">Manage Category</button>
        </div>

        <form id="" action="" method="Post" class="mngCat">
            
            
                <% for(let el of categories){%>
                    <div class="category-list addCategoryBtn">
                        <div class="category"><%=el.type%></div>
                        <div class="close-button" onclick="deleteCategory('<%=el._id%>')">X</div>
                    </div>
                 <%}%>
             </ul>
        </form>

        <form id="fileInput" action="http://localhost:8000/v1/upload" method="POST" enctype="multipart/form-data"
            class="froms">

            <label for="category" class="selcat">Select Category:</label>
            <select id="category" name="category" size="1" class="uppercase">
                <%for(let el of categories){%>
                    <option value = "<%=el.type%>" class="uppercase"> <%=el.type%> </option>
                <%}%>
                
                <!-- Add more categories as needed -->
            </select>
            <input type="file" name="images" accept="image/*" multiple>
            <button type="submit">Upload</button>

        </form>

        <div id="uploaded-images">
            <!-- The uploaded images will be displayed here -->
        </div>
    </div>

    <script src="/script/upload.js"></script>
